@import 'assets/css/style.scss';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  padding:0 50px;
  max-width: 1440px;
  width: 100%;
}

section {
  padding: 50px 0;
}

.snackbar-component-wrapper {
  .item-wrapper {
    + .item-wrapper {
      margin-top: 1rem;
    }
  }
}
/* input design start end*/