html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.basic-form{
  padding: 2rem;
}
.basic-form h1{
font-size: 5rem;
margin-bottom: 1rem;
}
/* input design start */
.form-group label{
  display: block;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* input design start end*/